/* Nav */
.navegacion {

  font-family: "LS Lucas Pro Black";
  background-color: #a2aad1;
}

.navegacion ul {
  background-color:#a2aad1;
}

/* Fuentes tipográficas */
@font-face {
  font-family: "LS Lucas Pro Black";
  src: url(../recursos/fuentes/FSLucasPro-Black.ttf);
}

@font-face {
  font-family: "LS Lucas Pro Semi Bd";
  src: url(../recursos/fuentes/FSLucasPro-SemiBd.ttf);
}

@font-face {
  font-family: "LS Lucas Pro Regular";
  src: url(../recursos/fuentes/FSLucasPro-Regular.ttf);
}

@font-face {
  font-family: "LS Lucas Pro Italic";
  src: url(../recursos/fuentes/FSLucasPro-Italic.ttf);
}

/* estilos */
article {
  margin: 20px;
  padding: 10px;
}

h1 {
  font-family: "LS Lucas Pro Black";
  text-align: center;
}

h2 {
  font-family: "LS Lucas Pro Semi Bd";
}

h3 {
  font-family: "LS Lucas Pro Italic";
}

h4 {
  font-family: "LS Lucas Pro Italic";
}

li {
  font-family: "LS Lucas Pro Regular";
}

p {
  font-family: "LS Lucas Pro Regular";
}

/* ENCABEZADO */
.encabezado .inicio-sesion{
  display: flex;
  text-decoration: underline;
  align-items: center;
  flex-direction: row;
  background-color: #121413;
  color: rgb(229, 229, 229);
  justify-content: space-between;
  
}


.encabezado .inicio-sesion img{
  height: 60px;
}

.encabezado .inicio-sesion ul{
  display: flex;
  list-style: none;
}

.encabezado .inicio-sesion ul li{
  padding: 0 1rem;
}

.navegacion {
  display:flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: large;
}


.index h1{
  color:  #304255;
}

/* BANNER */

.banner{
  margin: 0;
}

.banner img{
  margin: 1rem 0;
  width: 100vw;
}

.banner-texto {
  position:absolute;
  bottom: 120px;
  right: 100px;
  color: white;
  padding-left: 560px;
  padding-right: 450px;
  text-align: center;
}

/* IMAGENES INDEX */

/* Si se puede solo dentro del block donde tienes el texto por ejemplo un H2 o un P, pones la imagen de background.En el css pones dentro del título o el parrafo, un background image

La otra manera es que hagas una caja, o contenedor, y de background pongas la imagen. Entonces al ser un contenedor podes meter más cosas dentro del mismo. Osea vas a poder meter un párrafo o un titulo por ejemplo*/

.seccion-02 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: repeat(1, 600px);
  grid-template-areas:
    "imagen-01 imagen-02 imagen-03";
    max-width: 1500px;
    margin: auto;
}


  
  .imagen-01 { 
    grid-area: imagen-01; 
    background-image: url('../recursos/cereza-cafe.jpg');
    background-size: cover;
    color: white;
  }

  .imagen-01 :hover{
    color: #304255;
    transition: all .3s;
  }
  

.imagen-02 { 
  grid-area: imagen-02; 
  background-image: url('../recursos/latissima-one.jpg');
  color: white;
  background-size: cover;
}

.imagen-02 :hover{
  color: #304255;
  transition: all .3s;
}

.imagen-03 {
   grid-area: imagen-03;
   background-image: url('../recursos/lume-accesorios.png'); 
   color: white;
   background-size: cover;
  }

  .imagen-03 :hover{
    color: #304255;
    transition: all .3s;
  }

.seccion-03 .imagen-04 { 

  max-width: 700px;
  height: 500px;
  margin: auto;
  color: #A2AAD1;
  
}



.seccion-03 .imagen-04 img{
  max-width: 700px;
  height: 404px;
} 

.seccion-03 .imagen-04 :hover{
  
  color: #304255;
  transition: all .3s;
  background-color: white;

}
.seccion-03 .imagen-04 p {
  font-family: "LS Lucas Pro Regular";
}

/* ---FOOTER---- */
.footer{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #121413;
  color: white;
  margin: auto;
  align-items: center;
}

.footer-texto{
padding: 20px;
}

.footer-texto img{
  width: 150px;
}

/* ------------------PAGINA CAFÉ----------------- */
/* ------------------PAGINA CAFÉ----------------- */
/* ------------------PAGINA CAFÉ----------------- */

.seccion-cafe{
  display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: #E6E6E6;
}

.cafe-01{
  margin: 25px 50px;
    width: 630px;
    padding: 10px;
    border: 3px solid #ccc; 
    border-radius: 5px;
    background-color: white;

}

.cafe-01 h2{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  text-decoration: underline;
  padding: 1rem 0 0 0;
  color: #907A8C;
}

.cafe-01 h3{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding: 1rem 0 0 0;
  color: #907A8C;
}

.texto-cafe p{
  text-align: center;
  padding: 1rem 0 0 0;
  font-weight: 400;
  font-size: 20px;
}

.cafe-01 img{
  width: 500px;
  margin: auto;
}

.seccion-cafe-02 .cafe-02 img {
  width: 500px;
}




.grid-contenido {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 

}

.cafe-imagen {
  position: relative;
}

.cafe-imagen img {
  max-height: 550px; /* Altura máxima de la imagen */
  width: 100%;
  display: block;
}

.contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  max-width: 80%; /* Ancho máximo del contenido */
}

.contenido h2 {
  margin-bottom: 10px;
  color: #A2AAD1;
}






/* --------PAGINA MAQUINAS--------- */

.maquinas-texto{
  text-align: center;
  background-color: #E6E6E6;
}

.carousel-item {
  font-family: "LS Lucas Pro Semi Bd";
}


.seccion-maquinas .maquinas-01 img {
  position:relative
}

.seccion-maquinas .maquinas-01 h2 {
  text-align: center;
}

.seccion-maquinas .maquinas-02 img {
  width: 400px;
}

.seccion-maquinas .maquinas-03 img {
  width: 400px;
}
/* -------------PAGINAS RECETAS------------ */

.recetas{
  text-align: center;
}

.seccion-recetas{
  display: flex;
  justify-content: center;
}


.seccion-recetas .recetas-01 img{
  width: 600px;
}

.seccion-recetas .recetas-02 img{
  width: 600px;
}


.carousel-item img {
  height: 500px;
  width: 300px;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  padding: 1rem;
}








/* ------------PAGINA ACCESORIOS------------ */

.seccion-accesorios .accesorios-01{
background-color: #E6E6E6;
background-image:url(../recursos/fondo-beige.jpg);

background-position: center; /* Centra la imagen horizontalmente */
height: 500px;
}

.accesorios-01{
  text-align: center;
  margin: 100px;
}


.accesorios-02 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 15px;
  grid-auto-flow: row;
  grid-template-areas:
 
    "imagen-1 imagen-2 imagen-3 imagen-4 imagen-5";

}

.imagen-1 { grid-area: imagen-1; }

.imagen-2 { grid-area: imagen-2; }

.imagen-3 { grid-area: imagen-3; }

.imagen-4 { grid-area: imagen-4; }

.imagen-5 { grid-area: imagen-5; }





.seccion-accesorios .accesorios-01 img {
  height:100%
}




.seccion-accesorios .accesorios-02 img {
  width: 100%;

}



/* -------------PAGINA TOKYO MATCHA---------------- */

/* -------------PAGINA TOKYO MATCHA---------------- */

/* -------------PAGINA TOKYO MATCHA---------------- */

.tokyo-01{
  background-image: url(../recursos/Matcha\ latte_495.avif);
  height: 495px;
  object-fit: cover;
  text-align: center;
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.tokyo-02{
  display: flex;
  justify-content: center;
}

.tokyo-bloque{
  padding: 20px; /* Añade un espacio de relleno alrededor de cada bloque de texto */
  border: 1px solid #ccc; /* Añade un borde alrededor de cada bloque de texto */
  margin-right: 20px; /* Añade un margen a la derecha para separar los bloques de texto */
  
}


.seccion-tokyo-02{
  background-image: url(../recursos/fondo-beige.jpg);
  text-align: center;
  
}

.tokyo-03 img {
  width: 400px;
  border: 1px solid #ccc;
}


/* RESPONSIVEE */
/* mobile last */

@media (max-width: 450px){

  /* .banner{
    margin: 0;
  }
  
  .banner img{
    margin: 1rem 0;
    width: 100vw;
  } */
  
  .banner-texto {
  
    color: black;
    padding: 0;
    margin: auto;
    text-align:center;
    flex-direction: column;
    justify-content: center;
  }

  .banner-texto h2{
    display: none;
  }

  .seccion-02{
    display: block;
    justify-content: center;
  }


}



