@charset "UTF-8";
@font-face {
  font-family: "LS Lucas Pro Black";
  src: url(../recursos/fuentes/FSLucasPro-Black.ttf); }

@font-face {
  font-family: "LS Lucas Pro Semi Bd";
  src: url(../recursos/fuentes/FSLucasPro-SemiBd.ttf); }

@font-face {
  font-family: "LS Lucas Pro Regular";
  src: url(../recursos/fuentes/FSLucasPro-Regular.ttf); }

@font-face {
  font-family: "LS Lucas Pro Italic";
  src: url(../recursos/fuentes/FSLucasPro-Italic.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LS Lucas Pro Semi Bd"; }

/* ENCABEZADO */
.encabezado {
  background-color: #A2AAD1;
  color: #E6E6E6; }
  .encabezado .inicio-sesion {
    display: flex;
    text-decoration: underline;
    align-items: center;
    flex-direction: row;
    background-color: #121413;
    color: white;
    justify-content: space-between; }
    .encabezado .inicio-sesion a img {
      height: 60px; }
    .encabezado .inicio-sesion ul {
      display: flex;
      list-style: none; }
      .encabezado .inicio-sesion ul li {
        padding: 0 1rem; }
  .encabezado .navegacion {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: large; }

.index h1 {
  font-family: "LS Lucas Pro Black";
  text-align: center; }

.index .banner {
  margin: 0; }
  .index .banner img {
    margin: 1rem 0;
    width: 100vw; }
  .index .banner div {
    font-family: "LS Lucas Pro Italic";
    position: absolute;
    bottom: 120px;
    right: 100px;
    color: #E6E6E6;
    padding-left: 560px;
    padding-right: 450px;
    text-align: center; }

.index .seccion-02 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 600px);
  grid-template-areas: "imagen-01 imagen-02 imagen-03";
  max-width: 1500px;
  margin: auto; }
  .index .seccion-02 article {
    grid-area: imagen-01;
    background-image: url("../recursos/cereza-cafe.jpg");
    background-size: cover;
    color: white; }
    .index .seccion-02 article :hover {
      color: #304255;
      transition: all .3s; }
  .index .seccion-02 .imagen-02 {
    grid-area: imagen-02;
    background-image: url("../recursos/latissima-one.jpg");
    color: white;
    background-size: cover; }
    .index .seccion-02 .imagen-02 :hover {
      color: #304255;
      transition: all .3s; }
  .index .seccion-02 .imagen-03 {
    grid-area: imagen-03;
    background-image: url("../recursos/lume-accesorios.png");
    color: white;
    background-size: cover; }
    .index .seccion-02 .imagen-03 :hover {
      color: #304255;
      transition: all .3s; }

.index .seccion-03 {
  max-width: 700px;
  margin: auto;
  color: #A2AAD1;
  padding: 100px; }
  .index .seccion-03 p {
    font-family: "LS Lucas Pro Regular"; }
  .index .seccion-03 img {
    max-width: 700px; }
    .index .seccion-03 img :hover {
      color: #304255;
      transition: all .3s;
      background-color: white; }

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #121413;
  color: white;
  margin: auto;
  align-items: center; }
  footer div {
    padding: 20px; }
    footer div img {
      width: 150px; }

.seccion-cafe {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background-color: white; }

.cafe-01 {
  margin: 25px 50px;
  width: 630px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #E6E6E6;
  text-align: center;
  color: #907A8C; }
  .cafe-01 img {
    width: 500px;
    margin: auto; }

p {
  text-align: center;
  padding: 1rem 0 0 0;
  font-weight: 400;
  font-size: 20px; }

.grid-contenido {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  .grid-contenido h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;
    padding: 1rem 0 0 0;
    color: #907A8C; }
  .grid-contenido h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 1rem 0 0 0;
    color: #907A8C; }
  .grid-contenido .cafe-imagen {
    position: relative; }
    .grid-contenido .cafe-imagen img {
      max-height: 550px;
      /* Altura máxima de la imagen */
      width: 100%;
      display: block; }
  .grid-contenido .contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    max-width: 80%;
    /* Ancho máximo del contenido */ }
    .grid-contenido .contenido h2 {
      margin-bottom: 10px;
      color: #A2AAD1; }

.seccion-maquinas .maquinas-texto {
  text-align: center;
  background-color: #E6E6E6; }

.seccion-maquinas .maquinas-01 {
  text-align: center;
  padding: 40px; }
  .seccion-maquinas .maquinas-01 h1 {
    text-decoration: underline; }

.carousel-item {
  font-family: "LS Lucas Pro Semi Bd"; }

.recetas {
  text-align: center;
  padding: 30px; }

.seccion-recetas {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px; }
  .seccion-recetas .recetas-01 img {
    width: 600px; }
  .seccion-recetas .recetas-01 p {
    text-align: left; }
  .seccion-recetas .recetas-02 img {
    width: 600px; }

.carousel-item img {
  height: 500px;
  width: 300px;
  object-fit: cover; }

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem; }

.seccion-accesorios .accesorios-01 {
  background-color: #E6E6E6;
  background-image: url(../recursos/fondo-beige.jpg);
  background-position: center;
  height: 500px;
  text-align: center;
  margin: 100px; }
  .seccion-accesorios .accesorios-01 img {
    height: 100%; }

.seccion-accesorios .accesorios-02 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 15px;
  grid-auto-flow: row;
  grid-template-areas: "imagen-1 imagen-2 imagen-3 imagen-4 imagen-5"; }
  .seccion-accesorios .accesorios-02 img {
    width: 100%; }

.seccion-accesorios .imagen-1 {
  grid-area: imagen-1; }

.seccion-accesorios .imagen-2 {
  grid-area: imagen-2; }

.seccion-accesorios .imagen-3 {
  grid-area: imagen-3; }

.seccion-accesorios .imagen-4 {
  grid-area: imagen-4; }

.seccion-accesorios .imagen-5 {
  grid-area: imagen-5; }

.seccion-tokyo {
  text-align: center; }
  .seccion-tokyo .tokyo-01 {
    position: relative;
    display: inline-block; }
    .seccion-tokyo .tokyo-01 h1 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: white;
      font-size: 4vw;
      /* Utiliza vw (viewport width) para hacer el tamaño de fuente relativo al tamaño de la pantalla */
      text-align: center;
      width: 90%; }
    .seccion-tokyo .tokyo-01 h2 {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: white;
      text-align: center;
      width: 90%; }
  .seccion-tokyo .pasos {
    margin: 40px; }

.dos {
  display: flex;
  justify-content: center;
  padding: 2opx; }
  .dos .bloque {
    margin-top: 150px;
    border: 1px solid #ccc;
    /* Añade un borde alrededor de cada bloque de texto */
    margin-right: 50px; }

.seccion-tokyo-02 {
  background-image: url(../recursos/fondo-beige.jpg);
  text-align: center; }
  .seccion-tokyo-02 .tokyo-03 img {
    width: 400px;
    border: 1px solid #ccc; }

.seccion-tokyo-03 {
  margin: 100px; }
