//FUENTES
@font-face {
  font-family: "LS Lucas Pro Black";
  src: url(../recursos/fuentes/FSLucasPro-Black.ttf);
}

@font-face {
  font-family: "LS Lucas Pro Semi Bd";
  src: url(../recursos/fuentes/FSLucasPro-SemiBd.ttf);
}

@font-face {
  font-family: "LS Lucas Pro Regular";
  src: url(../recursos/fuentes/FSLucasPro-Regular.ttf);
}

@font-face {
  font-family: "LS Lucas Pro Italic";
  src: url(../recursos/fuentes/FSLucasPro-Italic.ttf);
}

  $fuente1: 'LS Lucas Pro Black';

  $fuente2: 'LS Lucas Pro Semi Bd';

  $fuente3: 'LS Lucas Pro Regular';

  $fuente4: 'LS Lucas Pro Italic';


  //PALETA COLORES

  $azul: #304255;

  $celeste: #A2AAD1;

  $casinegro: #121413;

  $fondo-casiblanco:#E6E6E6;

  $rosa-palido: #907A8C;

  $blanco: white;











