.seccion-maquinas{
    .maquinas-texto{
        text-align: center;
        @extend %extend-estilo
      }
      
      .maquinas-01{
        text-align: center;
        padding: 40px;

        h1{
            text-decoration: underline;
        }
      }
}

  .carousel-item {
    font-family: $fuente2;
  }
